* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.025)),
    url("./Images/main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.connectedClients {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.025)),
    url("./Images/main.jpg");
  background-size: cover;
  filter: blur(10px);
}

.connectedClientsContent {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.clientDetailsContent {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.connectedClientsContent h1 {
  font-size: 40px;
  font-weight: bolder;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content h1 {
  font-size: 40px;
  font-weight: bolder;
}

.content p {
  font-size: 18px;
  margin: 15px 0;
  max-width: 550px;
  letter-spacing: 2px;
}
